<h1>Picture Book</h1>

<div class="searchContainer">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <button pButton type="button" label="Search" (click)="performSearch(searchTerm.value)"></button>
            <input type="text" pInputText placeholder="Enter Search Term" #searchTerm/>         
        </div>
    </div>
  </div>
</div>

<div class='listContainer'>
  <div class='photoList'>
    <div *ngFor='let photo of tenPhotos'>
      <div class='photoCard'>
          <p class='index'>Photo {{photo.index + 1}}</p>
          <img src='https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.jpg'/>
      </div>
    </div>
  </div>
  
  <div class='titleList'>
      <ul *ngFor='let title of tenPhotosTitles'>
          <li>{{title.title}}</li>
          <div class="ui-inputgroup">
            <input type="text" pInputText placeholder="Picture Number" #pictureNumber/>         
            <button pButton type="button" label="Save" (click)="performSave(pictureNumber)"></button>
          </div>
      </ul>
  </div>
</div>
