.photoList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap 
}

.index {
    height: auto;
    text-align: center;
    margin: 0 0 10px 0;
}

.photoCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: auto;
}

img {
    width: 12rem;
    height: auto;
}

.listContainer {
    display: flex;
}

.picture-title {
    background-color: rgb(182, 67, 67);
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.box {
    background: #BADA55;
    border: 1px solid black;
    padding: 5px 20px;
    display: inline-block;
    cursor: move;
  
    &.dragging {
      background: coral;
    }

    &.sortable.dragging {
        background: none;
        border: 1px dashed black;
        color: transparent;
    }
}

ul {
    display: flex;
    flex-direction: column;
}

.dropzone {
    padding: 1em;
    background: lightgray;
    border: 1px solid black;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: .24em;
}





