img {
    height: 25vh;
}

.photoList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap 
}

.index {
    height: auto;
    text-align: center
}

.photoCard {
    max-width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 38vh;
}

.listContainer {
    display: flex;
}

.picture-title {
    background-color: rgb(182, 67, 67);
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.box {
    background: #BADA55;
    border: 1px solid black;
    padding: 10px 20px;
    display: inline-block;
    cursor: move;
  
    &.dragging {
      background: coral;
    }
  }




