<h1>Picture Book</h1>

<div class="searchContainer">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <button pButton type="button" label="Search" 
            (click)="performSearch(searchTerm.value)" 
            ></button>
            <input type="text" pInputText placeholder="Enter Search Term" #searchTerm             
            (keyup.enter)="performSearch(searchTerm.value)" 
            (blur)="performSearch(searchTerm.value)" 
            />         
        </div>
    </div>
  </div>
</div>

<div class='listContainer'>
  <div class='photoList'>
    <div *ngFor='let photo of tenPhotos'>
      <div class='photoCard dropzone'>
          <p class='index'>Photo {{photo.index}}</p>
          <img src='https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.jpg'/>
      </div>
    </div>
  </div>
  
<div class='titleList'>
    <ul>
        <li *ngFor='let title of tenPhotosTitles' class='picture-title box' appMoveable appDroppable>
              {{title.title}}
              <input type="number" placeholder="Enter Photo Number" #matchNumber (click)="addTitlesGuess(matchNumber.value, title.index)"
              (keyup)="addTitlesGuess(matchNumber.value, title.index)">
        </li>
    </ul>

    <input *ngIf="tenPhotosTitles.length>1" type="submit" value="Submit" (click)="submitTitlesGuess()">
</div>




